body{
    font-family: Arial, sans-serif;
    background: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;   
}
body.fade-in {
    opacity: 1;
    transform: translateY(0);
}
h2{
    color:rgb(196, 2, 24);
}
.container-register{
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 12px 22px rgba(0, 0, 0, 0.2);
    width: 500px;
    text-align: center;
}
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button{
    width: 100%;
    padding: 12px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 6px;
    margin-bottom: 8px;
    cursor: pointer;
}
button:hover {
    transform: scale(1.05);
}
button:active {
    transform: scale(0.95);
}